<div dir-search="{}"></div>
<table class="table scrollable" >
	<tr ng-repeat="m in members" >
		<td width="80px">
			<dir-block block-value="{{m.___id}}" block-name="{{m.household}}" block-size="70" ></dir-block>
		</td>
		<td class="text-v-center" ng-click="redirect('members/' + m.___id + '/edit')">
			<div class="pull-left">
				{{m.household}}</br>
				{{m.phone}}</br>
				{{m.email}}
			</div>
			<div class="pull-right">
				<div ng-if="member && m.distance >= 0 && m.distance < 100000 " class="label label-info">{{m.distance}} mi</div>
			</div>
		</td>
		
	</tr>
</table>